{% extends "extended_base.html" %}
{% load static %}

{% block title %}Client Area{% endblock title %}

{% block main_navigation %}{% endblock main_navigation %}

{% block toggle_position %}{% endblock toggle_position %}

{% block client_area %}{% endblock client_area %}

{% block delete_user %}
    <a class="button-link" href="{% url 'users:delete_user' %}">Delete Account</a>
{% endblock delete_user %}

{% block content %}
    {% if user.is_superuser %}
    <section class="section">
        <h2 class="section__section-title">
            Manage galleries.
        </h2>
        <a class="button-link" href="{% url 'galleries:manage_galleries' %}">Manage Galleries</a>
    </section>
    {% endif %}
    <section class="section galleries">
        <h2 class="section__section-title">
            {% if galleries %}Your galleries:{% else %}You don't have any galleries yet.{% endif %}
        </h2>
        <div class="galleries__wrapper">
        {% for gallery in galleries %}
            <div class="galleries__gallery-wrapper">
                <a class="galleries__image-link" href="{% url 'galleries:display_gallery' gallery.slug %}">
                    <img class="galleries__image" src="{{ gallery.thumbnail }}" alt="Gallery thumbnail" />
                </a>
                <a class="galleries__title-link" href="{% url 'galleries:display_gallery' gallery.slug %}">{{ gallery.title }}</a>
                <p class="galleries__displayed-date">{{ gallery.displayed_date }}</p>
                <p class="galleries__displayed-date"><a href="{{ gallery.archive_url }}" download="{{ gallery.title }}">Download</a></p>
            </div>
        {% endfor %}
        </div>
    </section>
    <section class="section">
        <h2 class="section__section-title">
            {% if appointment_days %}Your appointments:{% else %}You don't have any appointments yet.{% endif %}
        </h2>
        {% if appointment_days %}
            <ul class="appointments-list__list">
                {% for appointment_day in appointment_days %}
                    <li class="appointments-list__list-item">
                        <p class="appointments-list__list-item-text">{{ appointment_day.date }}</p>
                        <a class="appointments-list__list-item-link button-link button-link--slim" href="{% url 'appointments:delete_appointment' %}?id={{ appointment_day.id }}">Cancel</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    <section class="calendar calendar--mini-display">
        <h2 class="calendar__section-title calendar__section-title--grid-heading">Appointment Availability</h2>
        <div class="calendar__month-wrapper calendar__month-wrapper--mini-display">
            <h3 class="calendar__month calendar__month--mini-display">{{ this_month_name  }}</h3>
            <div class="calendar__dates calendar__dates--mini-display">
                <div class="calendar__date calendar__date--mini-display">Sun</div>
                <div class="calendar__date calendar__date--mini-display">Mon</div>
                <div class="calendar__date calendar__date--mini-display">Tue</div>
                <div class="calendar__date calendar__date--mini-display">Wed</div>
                <div class="calendar__date calendar__date--mini-display">Thu</div>
                <div class="calendar__date calendar__date--mini-display">Fri</div>
                <div class="calendar__date calendar__date--mini-display">Sat</div>

                {% for dummy_day in this_month_dummy_days %}
                    <div class="calendar__date calendar__date--mini-display calendar__date--dummy"></div>
                {% endfor %}
                {% for day in this_month_days %}
                    <div class="calendar__date calendar__date--mini-display">
                        <p class="calendar__date-label calendar__date-label--mini-display {% if day.0.busy %}calendar__date-label--busy{% endif %} {% if day.0 in appointment_days %}calendar__date-label--user-appointment{% endif %} {% if not day.1 %}calendar__date-label--passed{% endif %}">
                            {{ day.0.date.day }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="calendar__month-wrapper calendar__month-wrapper--mini-display">
            <h3 class="calendar__month calendar__month--mini-display">{{ next_month_name  }}</h3>
            <div class="calendar__dates calendar__dates--mini-display">
                <div class="calendar__date calendar__date--mini-display">Sun</div>
                <div class="calendar__date calendar__date--mini-display">Mon</div>
                <div class="calendar__date calendar__date--mini-display">Tue</div>
                <div class="calendar__date calendar__date--mini-display">Wed</div>
                <div class="calendar__date calendar__date--mini-display">Thu</div>
                <div class="calendar__date calendar__date--mini-display">Fri</div>
                <div class="calendar__date calendar__date--mini-display">Sat</div>

                {% for dummy_day in next_month_dummy_days %}
                    <div class="calendar__date calendar__date--mini-display calendar__date--dummy"></div>
                {% endfor %}
                {% for day in next_month_days %}
                    <div class="calendar__date calendar__date--mini-display">
                        <p class="calendar__date-label calendar__date-label--mini-display {% if day.0.busy %}calendar__date-label--busy{% endif %} {% if day.0 in appointment_days %}calendar__date-label--user-appointment{% endif %} {% if not day.1 %}calendar__date-label--passed{% endif %}">
                            {{ day.0.date.day }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a class="button-link button-link--margin button-link--centered calendar__centered-button--grid" href="{% url 'appointments:create_appointment' %}">Create an appointment</a>
    </section>
{% endblock content %}
