{% extends './gallery.html' %}
{% load static %}

{% block about-me %}
  {% if forloop.counter == 1 %}
    <div class="about-me">
      <h2 class="about-me__title">Marie Rotari</h2>
      <p class="about-me__description">
        Lifestyle, portrait and urban photography
      <p>
      <p class="about-me__description">
        Based in New Westminster, Metro Vancouver
      <p>
      <div class="about-me__contacts">
        <a class="about-me__link" href="https://www.instagram.com/marirotari_/">
          <img
            class="about-me__link-icon"
            src="{% static 'Instagram_Glyph_Gradient_RGB.svg' %}"
            width="48px"
            height="48px"
          />
          marirotari_
        </a>
        <a class="about-me__link" href="tel:+12369971409">
          <img
            class="about-me__link-icon"
            src="{% static 'Digital_Glyph_Green.svg' %}"
            width="48px"
            height="48px"
          />
          (236) 997-1409
        </a>
      </div>
      <div class="about-me__background"></div>
    </div>
  {% endif %}
{% endblock about-me %}
