{% extends "extended_base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block main_navigation %}{% endblock main_navigation %}

{% block content %}
  {% include "./gallery.html" %}
{% endblock content %}

{% block script %}
<script src="{% static 'popup.js' %}"></script>
<script src="{% static 'lazy-observer.js' %}"></script>
<script src="{% static 'toggle-navigation.js' %}"></script>
<script src="{% static 'toggle-position-buttons.js' %}"></script>
<script src="{% static 'show-scroll-to-top-button.js' %}"></script>
{% endblock script %}
