{% extends 'extended_base.html' %}
{% load static %}

{% block title %}Maria Rotari Photography{% endblock title %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
  {% include './gallery.html' %}
{% endblock content %}

{% block script %}
<script src="{% static 'popup.js' %}"></script>
<script src="{% static 'lazy-observer.js' %}"></script>
<script src="{% static 'toggle-navigation.js' %}"></script>
<script src="{% static 'toggle-position-buttons.js' %}"></script>
{% endblock script %}