<div class="galleryGrid">
    <figure class="img1">
      <img
        src="https://via.placeholder.com/340x120/"
        class="gallery__img"
        alt="Image 1"
      />
    </figure>
    <figure class="img2">
      <img
        src="https://via.placeholder.com/430x200/"
        class="gallery__img"
        alt="Image 2"
      />
    </figure>
    <figure class="img3">
      <img
        src="https://via.placeholder.com/430x200/"
        class="gallery__img"
        alt="Image 3"
      />
    </figure>
    <figure class="img4">
      <img
        src="https://via.placeholder.com/380x170/"
        class="gallery__img"
        alt="Image 4"
      />
    </figure>
    <figure class="img5">
      <img
        src="https://via.placeholder.com/410x200/"
        class="gallery__img"
        alt="Image 5"
      />
    </figure>
    <figure class="img6">
      <img
        src="https://via.placeholder.com/380x170/"
        class="gallery__img"
        alt="Image 6"
      />
    </figure>
    <figure class="img7">
      <img
        src="https://via.placeholder.com/180x130/"
        class="gallery__img"
        alt="Image 7"
      />
    </figure>
    <figure class="img8">
      <img
        src="https://via.placeholder.com/380x170/"
        class="gallery__img"
        alt="Image 8"
      />
    </figure>
    <figure class="img9">
      <img
        src="https://via.placeholder.com/480x210/"
        class="gallery__img"
        alt="Image 9"
      />
    </figure>
    <figure class="img10">
      <img
        src="https://via.placeholder.com/500x230/"
        class="gallery__img"
        alt="Image 10"
      />
    </figure>
    <figure class="img11">
      <img
        src="https://via.placeholder.com/470x170/"
        class="gallery__img"
        alt="Image 11"
      />
    </figure>
    <figure class="img12">
      <img
        src="https://via.placeholder.com/250x390/"
        class="gallery__img"
        alt="Image 12"
      />
    </figure>
    <figure class="img13">
      <img
        src="https://via.placeholder.com/410x240/"
        class="gallery__img"
        alt="Image 13"
      />
    </figure>
    <figure class="img14">
      <img
        src="https://via.placeholder.com/150x450/"
        class="gallery__img"
        alt="Image 14"
      />
    </figure>
    <figure class="img15">
      <img
        src="https://via.placeholder.com/440x170/"
        class="gallery__img"
        alt="Image 15"
      />
    </figure>
  </div>
  <!--End of galleryGrid-->
  </div>
  <!--End of parentGalleryGrid-->