{% extends 'extended_base.html' %}
{% load static %}

{% block title %}Create Appointment{% endblock title %}

{% block main_navigation %}{% endblock main_navigation %}

{% block content %}
    <section class="calendar">
        <form class="calendar__form" action="{% url 'appointments:create_appointment' %}" method="post">
            <details class="calendar__month-wrapper" open>
                <summary class="calendar__month">{{ this_month_name  }}</summary>
                <fieldset class="calendar__dates">
                    <div class="calendar__date">Sun</div>
                    <div class="calendar__date">Mon</div>
                    <div class="calendar__date">Tue</div>
                    <div class="calendar__date">Wed</div>
                    <div class="calendar__date">Thu</div>
                    <div class="calendar__date">Fri</div>
                    <div class="calendar__date">Sat</div>

                    {% for dummy_day in this_month_dummy_days %}
                        <div class="calendar__date calendar__date--dummy"></div>
                    {% endfor %}
                    {% for day in this_month_days %}
                        <div class="calendar__date">
                            <input type="radio" id="date_{{ day.0.date.day }}" name="selected_date" value="{{ day.0.date.year }}_{{ day.0.date.month }}_{{ day.0.date.day }}" {% if day.0.busy or not day.1 %}disabled{% endif %}>
                            <label class="calendar__date-label {% if day.0.busy %}calendar__date-label--busy{% endif %} {% if not day.1 %}calendar__date-label--passed{% endif %}" for="date_{{ day.0.date.day }}">
                                {{ day.0.date.day }}
                            </label>
                        </div>
                    {% endfor %}
                </fieldset>
            </details>
            <details class="calendar__month-wrapper">
                <summary class="calendar__month">{{ next_month_name  }}</summary>
                <fieldset class="calendar__dates">
                    <div class="calendar__date">Sun</div>
                    <div class="calendar__date">Mon</div>
                    <div class="calendar__date">Tue</div>
                    <div class="calendar__date">Wed</div>
                    <div class="calendar__date">Thu</div>
                    <div class="calendar__date">Fri</div>
                    <div class="calendar__date">Sat</div>

                    {% for dummy_day in next_month_dummy_days %}
                        <div class="calendar__date calendar__date--dummy"></div>
                    {% endfor %}
                    {% for day in next_month_days %}
                        <div class="calendar__date">
                            <input type="radio" id="date_{{ day.0.date.month }}_{{ day.0.date.day }}" name="selected_date" value="{{ day.0.date.year }}_{{ day.0.date.month }}_{{ day.0.date.day }}" {% if day.0.busy or not day.1 %}disabled{% endif %}>
                            <label class="calendar__date-label {% if day.0.busy %}calendar__date-label--busy{% endif %} {% if not day.1 %}calendar__date-label--passed{% endif %}" for="date_{{day.0.date.month}}_{{ day.0.date.day }}">
                                {{ day.0.date.day }}
                            </label>
                        </div>
                    {% endfor %}
                </fieldset>
            </details>
            <fieldset class="calendar__appointment-fields">
                {% if user.is_authenticated  %}
                    <p><span>Name:</span><span>{{ user.first_name }} {{ user.last_name }}</span></p>
                    <p><span>Email:</span><span>{{ user.email }}</span></p>
                    <p><span>Phone:</span><span>{{ user.phone }}</span></p>
                {% endif %}
                {{ form.as_p }}
                <p><span>Location:</span><span>Metro Vancouver</span></p>
                <p><span>Time:</span><span>To be discussed</span></p>
            </fieldset>
            <input class="calendar__submit" type="submit" value="Create Appointment">
            {% csrf_token %}
        </form>
    </section>
{% endblock content %}

