/* Global Styles */
@use './variables' as g;

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    padding-inline: 15px;

    @media (min-width: 1200px) {
        padding-inline: 60px;
    }
}

/* Intro */
.intro {
    text-align: center;
}

/* Upload Link */
.uploadLink {
    display: block;
    margin: 25px 0;
    width: fit-content;
    border: 5px solid navy;
    border-radius: 25px;
    font-size: 36px;
    line-height: 54px;
    font-weight: bold;
    padding: 30px;
    color: navy;
    text-decoration: none;
}

.color-highlight {
    color: g.$accent;
}

.polka {
    background-image: radial-gradient(rgba(#09814a, 0.1) 20%, transparent 22%),
        radial-gradient(rgba(#2d4739, 0.1) 20%, transparent 22%);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
}

.visible-desktop {
    display: none;

    @media (min-width: g.$desktop-width) {
        display: inline;
    }
}

ul.mobile-hidden,
button.mobile-hidden,
div.mobile-hidden,
span.mobile-hidden {
    @media (max-width: g.$max-mobile-width) {
        display: none;
    }
}

body.noscroll {
    overflow: hidden;
}

.hidden {
    display: none;
}

%button-style {
    border: 2px solid rgba(g.$text-primary, 0.7);
    border-radius: 5px;
    font-weight: 700;
    background-color: inherit;
    color: g.$text-primary;
    transition: background-color 0.3s, color 0.3s;
}

input, textarea, button {
    @extend %button-style;
}

a.button-link {
    @extend %button-style;
    padding: 10px;
    display: block;

    &--margin-block {
        margin-block: 20px;
    }

    &--margin-centered {
        margin-inline: auto;
    }

    &--centered {
        width: fit-content;
        margin-inline: auto;
    }

    &--slim {
        padding: 0px 5px;
    }

    &--inline {
        display: inline-block;
    }
}

input[type="submit"], button {
    font-weight: 700;
    padding: 10px;
}

input[type="submit"]:hover, button:hover, a.button-link:hover {
    text-decoration: none;
    background-color: rgba(g.$text-primary, 0.8);
    color: #fff;
}

input, textarea {
    font-weight: 400;
}

label.required_asterisk::after {
    content: '*';
    vertical-align: super;
    color: g.$color-error;
    font-size: 10px;
}