// Colors
// $background: #1f1f1f;
$background: #e3e3e3;
// $background: #d1e3dc;
// $text-primary: #ffffff;
// $text-primary: #A77464;
$text-primary: #A77464;
$accent: #5762D5;
$color-error: #ff5555;
// #121619 Night
// #E3E3E3 Platinum
// #A77464 Brown sugar
// #2D4739 Brunswick greeen or #5762D5 Savoy blue
// #09814A Sea green

// Viewports
$max-mobile-small-width: 374px;
$mobile-large-width: 375px;
$max-mobile-width: 767px;
$tablet-width: 768px;
$max-tablet-width: 1199px;
$desktop-width: 1200px;
$desktop-large-width: 1440px;
