{% load static %}
<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
      {% block title %}
        {{ page_title|default:"Untitled Page" }}
      {% endblock title %}
    </title>
    <link href="{% static 'styles.min.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body class="page__body">
    <header class="page-header">
      {% block top_header %}
        <div class="page-heading wrapper polka">
          <h1 class="page-heading__heading">
            <span class="visible-desktop">—</span> Maria Rotari Photography <span class="visible-desktop">—</span>
          </h1>
          <h2 class="page-heading__subheading">Photographer in Vancouver</h2>
        </div>
      {% endblock top_header %}
      <nav class="main-nav wrapper">
        {% block breadcrumbs %}
          <ol class="breadcrumbs">
              {% for breadcrumb in breadcrumbs %}
                  <li class="breadcrumbs__element"><a {% if breadcrumb.href %}href="{{ breadcrumb.href }}"{% endif %}>{{ breadcrumb.text }}</a></li>
              {% endfor %}
          </ol>
        {% endblock breadcrumbs %}
        {% block main_navigation %}
          <ul class="main-nav__items mobile-hidden" id="galleries-items">
            <li class="main-nav__item">
              <a href="{% url 'galleries:display_people_galleries' %}">People</a>
            </li>
            <li class="main-nav__item">
              <a href="#">Lifestyle</a>
            </li>
            <li class="main-nav__item">
              <a href="{% url 'galleries:display_gallery' 'urban' %}">Urban</a>
            </li>
            <li class="main-nav__item">
              <a href="{% url 'galleries:display_gallery' 'nature' %}">Nature</a>
            </li>
          </ul>
          <button class="main-nav__switcher-button main-nav__switcher-button--close mobile-hidden"
                  id="galleries-close-button">
            <svg width="22"
                 height="22"
                 viewBox="0 0 22 22"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill="#A77464" d="M0 20.166 20.167 0 22 1.833 1.834 22z" />
              <path fill="#A77464" d="M1.833 0 22 20.166 20.167 22 0 1.833z" />
            </svg>
          </button>
          <div class="main-nav__switcher" id="galleries-switcher">
            <p class="main-nav__switcher-text">Galleries</p>
            <button class="main-nav__switcher-button" id="galleries-open-button">
              <svg width="22"
                   height="22"
                   viewBox="0 0 22 22"
                   fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill="#A77464" d="M0 0h22v2.75H0zm0 9.625h22v2.75H0zm0 9.625h22V22H0z" />
              </svg>
            </button>
          </div>
        {% endblock main_navigation %}
        {% block user_navigation %}
        <ul class="main-nav__user-items">
            {% block toggle_position %}
              {% if user.is_superuser %}
                <form method="post" class="main-nav__user-item">
                  {% csrf_token %}
                  <button formaction="{% url 'galleries:toggle_buttons' %}" formmethod="post" type="submit">Toggle Buttons</button>
                </form>
              {% endif %}
            {% endblock toggle_position %}
            {% block create_appointment %}
              <li class="main-nav__user-item main-nav__user-item--highlight">
                <a href="{% url 'appointments:create_appointment' %}"><span class="mobile-hidden">Get your </span>FREE session</a>
              </li>
            {% endblock create_appointment %}
            <li class="main-nav__user-item">
              {% if user.is_authenticated %}
                {% block client_area %}
                  <a class="button-link" href="{% url 'galleries:client_area' %}">Client Area</a>
                {% endblock client_area %}
                {% block delete_user %}{% endblock delete_user %}
                {% block logout %}
                  <form method="post">
                    {% csrf_token %}
                    <button formaction="{% url 'users:logout' %}" formmethod="post" type="submit">Log out</button>
                  </form>
                {% endblock logout %}
              {% else %}
                <a href="{% url 'users:login' %}">Log in</a> / <a href="{% url 'users:signup' %}">Register</a>
              {% endif %}
            </li>
          </ul>
        {% endblock user_navigation %}
      </nav>
    </header>
    <main class="page-main wrapper">
      {% block content %}
      {% endblock content %}
    </main>
    <footer class="page-footer polka">
      <div class="page-footer__copyright wrapper">
        <p class="page-footer__copyright-text">&copy; Maria Rotari 2023</p>
      </div>
    </footer>
    {% block script %}
    {% endblock script %}
  </body>
</html>
