{% extends "users/auth-base.html" %}

{% block content %}
<section class="auth-form">
{% if validlink %}

<p class="auth-form__subtitle">Please enter your new password twice so we can verify you typed it in correctly.</p>

<form class="auth-form__form" method="post">{% csrf_token %}
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    {{ form.new_password1.errors }}
    <p>
    <label for="id_new_password1">New password:</label>
    {{ form.new_password1 }}</p>
    <p>
    <label for="id_new_password2">Confirm password:</label>
    {{ form.new_password2 }}</p>
    {{ form.new_password2.errors }}
    <input class="auth-form__form-input" type="submit" value="Change my password">
</form>

{% else %}

<p class="auth-form__subtitle">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
</section>
{% endblock %}
