{% extends "extended_base.html" %}

{% block title %}Password Reset Done{% endblock title %}Password Reset Done

{% block content %}
<section class="auth-form">
<p class="auth-form__subtitle">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p class="auth-form__subtitle">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</section>
{% endblock content %}
