@use 'global/variables' as g;

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 10px;

    @media (min-width: g.$tablet-width) {
        font-size: 14px;
    }

    @media (min-width: g.$desktop-width) {
        font-size: 16px;
    }

    @media (min-width: g.$desktop-large-width) {
        font-size: 18px;
    }
    
    &__element:last-child > a:hover {
        text-decoration: none;
    }

    &__element:not(:last-child) > a {
        text-decoration: underline dotted;
        text-underline-offset: 4px;
        text-decoration-color: rgba(g.$text-primary, 0.5);
        text-decoration-thickness: 0.12em;
    }

    &__element:not(:last-child)::after {
        content: "\00a0 \003e \00a0";
    }

    &__element:last-child {
        font-weight: 700;
        cursor: default;
    }
}
