@use '../global/variables' as g;

.galleries {
    margin-block-start: 20px;

    @media (min-width: g.$tablet-width) {
        display: flex;
        flex-wrap: wrap;
    }

    &__section-title {
        margin-block-end: 36px;
        text-align: center;
        width: 100%;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @media (min-width: g.$tablet-width) {
            flex-direction: row;
        }
    }

    &__gallery-wrapper {
        display: flex;
        flex-direction: column;
        margin-block-end: 36px;
        align-items: center;
        margin-inline: auto;

        @media (min-width: g.$tablet-width) {
            width: 50%;
            margin-inline: 0;
        }

        @media (min-width: g.$desktop-width) {
            width: 33%;
        }
    }


    &__image-link {
        margin-block-end: 6px;

        @media (min-width: g.$tablet-width) {
            margin-block-end: 12px;
        }
    }

    &__image {
        margin: 0 auto;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;

        @media (min-width: g.$tablet-width) {
            width: 300px;
            height: 300px;
        }

        @media (min-width: g.$desktop-width) {
            width: 70%;
            height: auto;
            border-radius: 10%;
        }
    }

    &__title-link {
        font-size: 22px;

        @media (min-width: g.$tablet-width) {
            font-size: 28px;
        }
    }
}