@use '../global/variables' as g;

.page {
  font-size: 16px;
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  margin: auto;
  min-height: 100%;

  &__body {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100%;
    margin: auto;
    max-width: 1980px;
    background-color: g.$background;
    color: g.$text-primary;
  }
}